<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>タスク追加</title>
</head>
<body>
    <h1>タスク追加</h1>

    <form action="/add" method="post">
    <p>
        タイトル<br>
        <input type="text" name="title" required>
    </p>

    <p>
        締切日<br>
        <input type="date" name="due_date">
    </p>

    <p>
        <label>
            <input type="checkbox" name="is_important">
            重要
        </label>
    </p>

    <button type="submit">追加</button>
</form>


    <p><a href="/">戻る</a></p>
</body>
</html>
