<div class="task-card {{ task.alert_level }}">
  <strong>{{ task.title }}</strong><br>

  {% if task.alert_level == "danger" %}
    <div class="alert-text">👹 DANGER!! 締切間近</div>
  {% elif task.alert_level == "warning" %}
    <div class="alert-text warning-text">⚠ 期限注意</div>
  {% endif %}

  期限: {{ task.due_date }}<br>

  {% if task.status == "todo" %}
    <a href="/update_status/{{ task.id }}/doing">▶ Doingへ</a>
  {% elif task.status == "doing" %}
    <a href="/update_status/{{ task.id }}/done">✅ Doneへ</a>
  {% endif %}
</div>
